{% extends 'base.html.twig' %}

{% block title %}Prisijungimas{% endblock %}

{% block content %}
<div class="sign section--bg" data-bg="/img/section/section.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- authorization form -->
                        <form method="post" class="sign__form">
                            <a href="{{ path('index') }}" class="sign__logo">
                                <img src="/img/logo.svg" alt="">
                            </a>


                            <div class="sign__group">
                                <input type="text" class="sign__input" placeholder="Vartotojo Vardas">
                            </div>

                            <div class="sign__group">
                                <input type="password" class="sign__input" placeholder="Slaptažodis">
                            </div>
                            <input type="hidden" name="_csrf_token"
                             value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="sign__group sign__group--checkbox">
                                <input id="remember" name="remember" type="checkbox" checked="checked">
                                <label for="remember">Prisimink mane</label>
                            </div>
                            
                            <button class="sign__btn" type="submit">Prisijungti</button>

                            <span class="sign__text">Neturi paskyros? <a href="{{ path('signup') }}">Registracija!</a></span>

                            <span class="sign__text"><a href="#">Pamiršai slaptažodį?</a></span>
                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
