{% block title %}
	Pranesti apie komentara
{% endblock %}

{% block content %}
	<form method="POST" action="#">
		<input type="number" name="comment_id" />
		<input type="report" name="report" />
	</form>
{% endblock %}